.home-page-body {
  position: relative;
}

.body-background {
  width: 100%;
  z-index: -1;
}

.body-text {
  color: white;
  position: absolute;
  top: calc( 1.55vw * 12);
  left: 10%;
}

.body-text-header-1 {
  font-size: 19px;
  font-weight: 600;
}

.body-text-header-2 {
  font-size: 32px;
  font-weight: 400;
}

.body-text-50 {
  max-width: 50%;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0px 25px 0px;
}

.how-it-works-container {
  text-align: center;
  position: relative;
  top: 0px;
  max-width: 1200px;
  margin: auto;
}

.how-it-works-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
}

.how-it-works-item-header {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 5px;
}

.how-it-works-item-divider {
  width: 60px;
  background-color: #5cf7d6;
  border: none;
  height: 4px;
  margin-top: 2px;
}

.how-it-works-item-title {
  font-weight: 900;
}

@media screen and (min-width: 1200px) {
  .body-text {
    top: calc( 1.55vw * 18);
  }

  .how-it-works-header {
    font-size: 48px;
    margin: 20px 0px 30px 0px;
  }

  .body-text-header-1 {
    font-size: 32px;
    font-weight: 600;
  }
  
  .body-text-header-2 {
    font-size: 56px;
    font-weight: 400;
  }

  .body-text-50 {
    max-width: 50%;
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0px 25px 0px;
  }
} 

@media screen and (max-width: 1200px) {
  .how-it-works-container {
    margin: 0px 30px;
  }
}

@media screen and (max-width: 768px) {
  .body-text {
    top: calc( 1.55vw * 5);
  }

  .body-text-50 {
    max-width: 75%
  }

  .how-it-works-header {
    font-size: 20px;
  }

  .how-it-works-grid {
    grid-template-columns: auto auto;
    grid-gap: 30px;
  }
}

@media screen and (max-width: 480px) {
  .how-it-works-grid {
    display: grid;;
    grid-template-columns: auto;
    grid-gap: 30px;
  }

  .body-text {
    position: static;
    margin: 10px 5px;
    color: #000;
    text-align: center;

  }

  .body-text-50 {
    max-width: 100%;
    
    font-weight: 400;
  }
}


