@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

.App{
  font-family: 'Lato', sans-serif;
}

.filter-teal {
  filter: invert(77%) sepia(39%) saturate(681%) hue-rotate(110deg)
    brightness(88%) contrast(85%);
}
.teal-color {
  color: #3fceaf;
}
.grey-color {
  color: #1f1f1f;
}
.teal-background {
  background-color: #3fceaf;
}
.grey-background {
  background-color: #1f1f1f;
}